body {
  background-color: var(--bg-primary);
  color: white;
}

header {
  padding: 30px;
}

nav {
  margin: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.mainTitle {
  text-align: center;
}

.btn {
  background-color: var(--main-green);
  color: var(--font-secondary);
  padding: 5px;
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid var(--dark-green);
}

.btn#deleteAll:hover {
  background-color: var(--main-red);
  border: 1px solid var(--bg-secondary);
  color: var(--font-primary);
}

.btn#addToDo:hover {
  color: var(--font-primary);
}
