body {
  background-color: var(--bg-primary);
  color: white;
}

header {
  padding: 30px;
}

nav {
  margin: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.mainTitle {
  text-align: center;
}

.btn {
  background-color: var(--main-green);
  color: var(--font-secondary);
  padding: 5px;
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid var(--dark-green);
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.btn#deleteAll:hover {
  border: 1px solid var(--bg-secondary);
  color: var(--font-primary);
  background-color: var(--main-red);
  opacity: 0.8;
}

.btn#addToDo:hover {
  background-color: var(--main-blue);
  color: var(--font-primary);
  border: 1px solid var(--bg-secondary);
  opacity: 0.8;
}
