.task {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  opacity: 1;
}

.task.fadeIn {
  animation: task-show 0.3s ease-in-out;
}
.task.fadeOut {
  animation: task-hide 0.3s ease-in-out;
}

@keyframes task-show {
  from {
    opacity: 0;
  }
}

@keyframes task-hide {
  to {
    opacity: 0;
  }
}

.task input {
  appearance: none;
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 0;
  background-color: var(--bg-secondary);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: background-image 0.8s ease;
  box-shadow: 0px 2px 10px rgb(163, 163, 163);
}

.task input::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/icons/check.svg");
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.task input:checked::after {
  opacity: 1;
  transform: scale(1);
}

.task input:checked + .textContainer .taskText p {
  text-decoration-line: line-through;
}

.tasksContainer {
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-width: thin;
}

.tasksContainer::-webkit-scrollbar {
  width: 6px;
}

.tasksContainer::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.newTask {
  padding: 15px;
  width: 100%;
}

.newTask input {
  width: 100%;
  font-size: 16px;
  height: 50px;
  background-color: var(--main-yellow);
  color: var(--font-primary);
  border: 2px solid var(--dark-gray);
  padding: 5px;
  border-radius: 5px;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}
.newTask input::placeholder {
  color: var(--bg-dark-gray);
}

.newTask input:focus {
  background-color: var(--bg-primary);
  border: 3px solid var(--bg-light-gray);
  opacity: 1;
}

.newTask input:focus::placeholder {
  color: var(--light-gray);
}
.deleteIcon {
  width: 15px;
  height: 15px;
}
.deleteIcon img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.deleteIcon:hover img {
  transform: scale(1.3);
  filter: invert(33%) sepia(100%) saturate(6230%) hue-rotate(331deg) brightness(101%) contrast(101%);
}
.taskText {
  position: relative;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-grow: 1;
  font-size: medium;
  color: var(--bg-dark-gray);
}
.textContainer {
  flex-grow: 1;
}
.taskText p {
  position: relative;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  word-break: break-word;
  transition: text-decoration-line 0.3s ease;
  color: var(--bg-dark-gray);
}
