* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --bg-primary: rgb(28, 28, 28);
  --bg-secondary: white;
  --font-primary: white;
  --font-secondary: rgb(28, 28, 28);
  --component-primary: #15de47;
}

body {
  background-color: var(--bg-primary);
  color: white;
}

header {
  padding: 50px;
}

#todos {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.menu {
  display: flex;
  justify-content: center;
}

.mainTitle {
  text-align: center;
}

.todo {
  width: 300px;
  height: 400px;
  border: 3px var(--bg-secondary) solid;
  border-radius: 5px;
  font-size: 14px;
  overflow-y: auto;
}

.task {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.task input {
  appearance: none;
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 0;
  background-color: var(--bg-secondary);
  border-radius: 50%;
  cursor: pointer;
}

.task input:checked {
  background-image: url("../public/icons/check.svg");
  background-position: center;
  background-size: 85%;
}

.task input:checked + .textContainer .taskText p {
  text-decoration-line: line-through;
}

.newTask {
  padding: 15px;
  width: 100%;
}

.newTask input {
  width: 100%;
  font-size: 16px;
  height: 50px;
  background-color: var(--bg-primary);
  color: var(--font-primary);
  border: 1px solid var(--bg-secondary);
  padding: 5px;
  border-radius: 5px;
}

.btn {
  background-color: var(--component-primary);
  color: var(--font-secondary);
  padding: 5px;
  border-radius: 5px;
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}

.deleteIcon {
  width: 30px;
  height: 30px;
}
.deleteIcon img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.taskText {
  position: relative;
  display: flex;
  max-width: 100%;
  align-items: center;
}
.textContainer {
  width: calc(100% - 80px);
}
.taskText p {
  position: relative;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  word-break: break-word;
}
